In [1]:
import pandas as pd

In [2]:
import pandas_gbq

In [5]:
pandas_gbq.context.credentials = False

In [3]:
project_id = "peepee-ina"

In [4]:
sql = """
#standardSQL
SELECT file.project, COUNT(*) AS num_downloads
FROM `bigquery-public-data.pypi.file_downloads`
WHERE DATE(timestamp)
    BETWEEN DATE_SUB(CURRENT_DATE(), INTERVAL 30 DAY)
    AND CURRENT_DATE()
  GROUP BY file.project
"""
df = pandas_gbq.read_gbq(sql, project_id=project_id)

Please visit this URL to authorize this application: https://accounts.google.com/o/oauth2/auth?response_type=code&client_id=725825577420-unm2gnkiprugilg743tkbig250f4sfsj.apps.googleusercontent.com&redirect_uri=http%3A%2F%2Flocalhost%3A8080%2F&scope=https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fbigquery&state=K9yfHV6mFpQb179OHbqt7eK1S4GGgI&prompt=consent&access_type=offline

gio: https://accounts.google.com/o/oauth2/auth?response_type=code&client_id=725825577420-unm2gnkiprugilg743tkbig250f4sfsj.apps.googleusercontent.com&redirect_uri=http%3A%2F%2Flocalhost%3A8080%2F&scope=https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fbigquery&state=K9yfHV6mFpQb179OHbqt7eK1S4GGgI&prompt=consent&access_type=offline: Operation not supported

Downloading: 100%|██████████|

In [5]:
df

                               project  num_downloads
0                    aboutcode-toolkit           8347
1       ubersmith-remote-module-server            170
2                         umapi-client           4805
3                   nvidia-cublas-cu12       10515705
4             nonebot-plugin-wolf-kill             73
...                                ...            ...
544944            databuilder-amundsen             55
544945                usefuladbasyncio             55
544946           jupyterlab-liveupdate             55
544947              yandex-opencompass             55
544948            metaflow-card-corise             55

[544949 rows x 2 columns]

In [6]:
df.index

RangeIndex(start=0, stop=544949, step=1)

In [9]:
df.to_csv("../networks/pypi_downloads.csv", index=False)

In [14]:
dependencies = pd.read_csv("../networks/python-dependencies.csv", sep='\t')
dependencies.head()

    package  deps
0         0  W10=
1       000  W10=
2     00000  W10=
3   0000000  W10=
4  00000000  W10=

In [17]:
merged = pd.merge(dependencies, df, left_on="package", right_on="project", how="left").drop(columns=["project"])

In [18]:
merged.head()

    package  deps  num_downloads
0         0  W10=           4492
1       000  W10=            420
2     00000  W10=            412
3   0000000  W10=            399
4  00000000  W10=            382

In [19]:
print(merged[merged["num_downloads"].isnull()])

                     package  deps  num_downloads
270764                   NaN  W10=           <NA>
277692  nextcord-ext-ipc-dev  W10=           <NA>
284535                   NaN  W10=           <NA>

In [21]:
merged.to_csv("../networks/python-dependencies-downloads.csv", index=False, sep='\t')